/* Dark mode colors. */
:root {
  --sl-color-accent-low: #0d2c0b;
  --sl-color-accent: #008105;
  --sl-color-accent-high: #b0d4ad;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e7f1e6;
  --sl-color-gray-2: #bac6b9;
  --sl-color-gray-3: #7b9379;
  --sl-color-gray-4: #495f47;
  --sl-color-gray-5: #293e28;
  --sl-color-gray-6: #182d17;
  --sl-color-black: #121b11;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c5e0c2;
  --sl-color-accent: #008305;
  --sl-color-accent-high: #073e07;
  --sl-color-white: #121b11;
  --sl-color-gray-1: #182d17;
  --sl-color-gray-2: #293e28;
  --sl-color-gray-3: #495f47;
  --sl-color-gray-4: #7b9379;
  --sl-color-gray-5: #bac6b9;
  --sl-color-gray-6: #e7f1e6;
  --sl-color-gray-7: #f3f8f2;
  --sl-color-black: #ffffff;
}

.site-title {
  position: relative;
  overflow: visible;
}

.site-title:after {
  content: "V - 1.0";
  background-color: var(--sl-color-accent-low);
  color: var(--sl-color-accent);
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: calc(100% + 1rem);
}

.sidebar-pane .sidebar {
  padding: 0;
}

.top-level > li:not(:first-child) {
  margin-top: 0px;
  border-top: 1px solid var(--sl-color-hairline);
}

.top-level > li {
  padding: var(--sl-sidebar-pad-x);
}

.top-level > li a {
  text-decoration: none;
  padding-block: 0.4em;
}

.content-panel {
  padding-block: 31px !important;
}

.main-pane .sl-container > h1 {
  margin-top: 0 !important;
}

.main-frame {
  padding-left: var(--sl-sidebar-width);
}

.right-sidebar-panel {
  a {
    padding-inline: calc(1rem * var(--depth) + var(--pad-inline))
      var(--pad-inline);
  }
}

.sidebar-pane {
  border-inline-end: 1px solid var(--sl-color-hairline-shade);
}

.right-sidebar {
  border-inline-start: 1px solid var(--sl-color-gray-6);
}

.header select {
  padding-inline: calc(var(--sl-label-icon-size) + 0.25rem)
    calc(var(--sl-caret-size) + 0.25rem);
}

.header .caret {
  inset-inline-end: 0;
}

.tablist-wrapper .tab > a {
  padding-block: 0.5rem;
}

code {
  font-size: 0.875em;
  color: var(--c-danger);
  word-wrap: break-word;
}

@media (min-width: 72rem) {
  [data-has-sidebar] .main-pane {
    --sl-content-margin-inline: auto !important;

    flex-grow: 1;

    width: calc(
      var(--sl-content-width) +
        (100% - var(--sl-content-width) - var(--sl-sidebar-width)) / 2
    );
  }

  .right-sidebar-container {
    width: var(--sl-sidebar-width);
  }
}
